<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM UI Test Suite" verbose="2" parallel="false">
    <test name="Login Module Tests">
        <classes>
            <class name="com.orangehrm.tests.LoginTest"/>
        </classes>
    </test>
</suite>
